* {
    padding: 0em;
    margin: 0em;
    font-family: sans-serif;
    text-decoration: none;
    /* overflow: hidden; */
}

body {
    /* max-width: 1500px; */
}

.head {
    /* width: 100%; */
    /* padding: auto; */
    box-shadow: .1px .1px 10px rgb(146, 113, 113);
    border: none;
    display: flex;
    justify-content: space-between;
}

.checkbtn {
    font-size: 300px;
    color: rgb(19, 179, 19);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

.logo {
    width: 200px;
    height: 100px;
    padding-left: 3em;
    /* display: flex; */
    /* justify-content: space-around; */
}

.download {
    padding-top: 2em;
    padding-right: 3.5em;
}

.downloadLink {
    color: gray;
    padding: .8em 2em;
    border: 1px solid rgb(203, 201, 201);
    border-radius: 4em;
    font-family: sans-serif;
}

.downloadLink:hover {
    background-color: rgba(224, 224, 224, 0.459);
}

/* <!-- -------------------------------------------------- -->
    ------------------------------------------------------- */

.sec {
    display: flex;
    justify-content: space-between;
}

/* <!-- -------------------------------------------------- -->
    ------------------------------------------------------- */




/* <!-- -------------------------------------------------- -->
    ------------------------------------------------------- */


.text {
    padding: 0 8em;
}

.sep {
    color: rgb(19, 179, 19);
}

.textH {
    font-size: xx-large;
    padding-bottom: .3em;
}

.dash {
    border: 1px solid black;
    padding: .1em;
    width: 2em;
    border-radius: 7em;
    background-color: #111;
    margin-bottom: .9em;
}

.textT {
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: larger;
}

.last {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.downloadbutton {
    border: 1px;
    padding: .6em 2em;
    border-radius: .51em;
    margin-left: 2em;
    background-color: rgb(61, 215, 100);
    color: #fff;
}

.downloadbutton:hover {
    background-color: rgb(38, 172, 72);
}

.battery {
    padding-top: 2em;
    padding-right: 5em;
    overflow: hidden;
}

/* <!-- -------------------------------------------------- -->
    ------------------------------------------------------- */
.contactpan {
    text-align: center;
    padding-top: 3em;
}

.contact {
    color: gray;
    letter-spacing: .3em;
    padding-bottom: 1em;
}

.contactus {
    font-size:xx-large;
    padding-bottom: .3em;
}

.socialIcon {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3em;
}

.twitter, .whatsapp {
    text-align: center;
}

.lasttext {
    color: gray;
    padding-top: .5em;
}


/* <!-- -------------------------------------------------- -->
    ------------------------------------------------------- */


.third {
    display: flex;
    justify-content: space-between;
    /* width: auto; */
    padding-top: 3em;
}

.battery2 {
    padding-left: 8em;
}

.battery3 {
    padding-top: 2em;
    padding-right: 5em;
    /* overflow: hidden; */
}

.text2 {
    padding-right: 5em;
    padding-bottom: 5em;
}

/* <!-- -------------------------------------------------- -->
    ------------------------------------------------------- */

.testimonial {
    padding-bottom: 20em;
}

.testitext {
    text-align: center;
    letter-spacing: 1em;
    color: gray;
    padding-bottom: 1em;
}

.foot {
    margin: 0 auto;
    padding: 2em;
    /* text-align: center; */
}

.foottext {
    color: gray;
}

@media screen and (max-width: 900px) {

    .logo {
        padding: 1em;
        padding-top: .01em;

    }

    .downloadLink {
        display: none;
    }

    .sec, .third {
        display: block;
    }

    .text, .text2 {
        padding: .21em;
        margin: 1em;
        /* text-align: center; */
        justify-content: center;
    }

    .download {
        display: block;
        margin: auto 0px;
    }

    .battery {
        width: 80%;
        display: block;
        margin-left: 10%;
        margin-right: 15%;
    }

    .battery2 {
        padding-left: 3em;
    overflow: hidden;
    }
}
